@import "tailwindcss";

@theme {
  /* This creates the 'font-magilio' utility class */
  --font-magilio: "Magilio", ui-sans-serif, system-ui;
  --font-merriweather: "Merriweather", ui-sans-serif, system-ui;
}

@layer base {

  @font-face {
    font-family: "Magilio";
    /* Points to the file in your public folder */
    src: url("/fonts/Magilio.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Merriweather";
    /* Points to the file in your public folder */
    src: url("/fonts/Merriweather-VariableFont_opsz,wdth,wght.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
}

@layer components {
  /* Reusable container class for standard page margins and layout */
  .page-container {
    @apply w-full max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
  }
}
